html {
  overflow-y: scroll;
}

.maintext {
  font-size: 16px;
  line-height: 25px;
}

.attribution {
  font-size: 10px;
  font-style: italic;
  padding-left: 20px;
}

.dep-submit {
  margin-left: 0;
  padding-left: 0;
  margin-top: 40px;
}

#domains {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#filebox {
  height: 250px;
}

.domain {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  width: 85px;
  height: 130px;
  border: 2px solid #bbb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  /* turn of selecting of text */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.domain-addmeta {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  width: 85px;
  height: 130px;
  border: 2px solid #bbb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.domain-disabled {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  width: 85px;
  height: 130px;
  border: 2px solid #bbb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #e5e5e5;
}

.add-button{
  text-align: center;
  margin-left: 0;
}

.domain:hover {
  opacity: 0.8;
  color: #9d261d;
  border: 2px solid #9d261d;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.highlight-icon {
  color: #9d261d;
  border: 2px solid #9d261d;
}

.deposit {
  margin: 0 0;
}

.meta-container {

  padding: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px
}


.meta-label {

  font-size: 17.5px;
  font-weight: bold;
  text-align: right;
  width: 160px;
  float: left;
  padding-right: 6px;
  padding-top: 5px;
  margin-right: 35px; /* don't understand why margin right is needed :( */

}

#domain-label {
  padding-top: 80px;
}

#meta-fields {
  margin-top: 40px;
  text-align: left;
}

.meta-container h1 {

  text-align: center;
  margin-bottom: 40px;
}

.metacontent {
  margin-top: 10px;
  line-height: 40px;
}

#meta{
  margin-top: 40px;
  text-align: center;
}

.meta-table {

  background-color: #f5f5f5;
}

.first-cap {
  text-transform: capitalize;
}

#adv-fields {
  margin-top: 20px;
}

.deposit-result {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.deposit-text {
  margin-top: 20px;
  font-size: 17.5px;
}

.another-item {
  margin-top: 20px;
  font-size: 17.5px;
}

.step-number {
  color: #a9a9a9;
}

#submit-deposit {
}

img.desaturate { 
  filter: grayscale(100%); 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: url(/img/desaturate.svg#greyscale);
  filter: gray;
}

.footnote {
  font-style: italic;
  font-size: 12px;
}

.hide {
  display: none;
}

input, textarea {
  width: 270px;
}
textarea {
  height: 100px;
}
