*~
config-local.mk
simplestore.kdevelop
simplstore.kdevses
tags
.settings
.pydevproject
.project
.ropeproject
*.egg-info
env/
bibformat/dist
bibsched/dist
miscutil/dist
simplestore/dist
bibformat/build
bibsched/build
miscutil/build
simplestore/build
Makefile
Makefile.in
aclocal.m4
autom4te.cache
missing
install-sh
configure
config.sub
config.status
config.guess
config.nice
config.log
dbmigrator
inveniomigrate
recomp.sh
*.swp
.DS_Storei
