celery<4.0,>=3.1
datacite>=0.3.0
dcxml>=0.1.0
dojson>=1.2.1
doschema>=1.0.0a1
easywebdav>=1.2.0
elasticsearch<3.0.0,>=2.0.0
elasticsearch-dsl<3.0.0,>=2.0.0
Flask-Login<0.4,>=0.3.0
httplib2>=0.9.2
invenio-access<1.1.0,>=1.0.0a11
invenio-accounts<1.1.0,>=1.0.0b5
invenio-accounts-rest<1.1.0,>=1.0.0a3
invenio-base<1.1.0,>=1.0.0a14
invenio-celery<1.1.0,>=1.0.0b1
invenio-config<1.1.0,>=1.0.0b2
invenio-db<1.1.0,>=1.0.0b5
invenio-deposit<1.1.0,>=1.0.0a8
invenio-files-rest<1.1.0,>=1.0.0a17
invenio-indexer>=1.0.0a9
invenio-logging>=1.0.0a3
invenio-mail<1.1.0,>=1.0.0b1
invenio-marc21>=1.0.0a3
invenio-oaiserver<1.1.0,>=1.0.0a9
invenio-oauth2server<1.1.0,>=1.0.0a13
invenio-oauthclient<1.1.0,>=1.0.0a13
invenio-pidstore<1.1.0,>=v1.0.0b1
invenio-query-parser<1.1.0,>=0.6.0
invenio-records<1.1.0,>=1.0.0b1
invenio-records-files<1.1.0,>=1.0.0a9
invenio-records-rest<1.1.0,>=1.0.0a16
invenio-rest[cors]<1.1.0,>=1.0.0a10
invenio-search<1.1.0,>=1.0.0a9
jsonresolver[jsonschema]>=0.2.1
psycopg2>=2.6.1
