--index-url https://pypi.python.org/simple/

markdown2
validate_email
recaptcha-client
markdown
httplib2

invenio_celery

-e git+https://github.com/inveniosoftware/invenio.git@master#egg=invenio
-e git+https://github.com/inveniosoftware/invenio-accounts.git@master#egg=invenio-accounts
-e git+https://github.com/inveniosoftware/invenio-oaiharvester.git@master#egg=invenio-oaiharvester
-e git+https://github.com/inveniosoftware/invenio-upgrader.git@master#egg=invenio-upgrader
-e git+https://github.com/inveniosoftware/invenio-collections.git@master#egg=invenio-collections
-e git+https://github.com/inveniosoftware/invenio-access.git@master#egg=invenio-access

-e .
