# B2SHARE WebUI configuration variables.
#
# If an environment variable with the same name as any of the keys here
# exist, the value set in environment variable will be used.
#
# Uncomment and give a meaningfull value.
#B2SHARE_WEBUI_MATOMO_URL='URL to your Matomo site, e.g. matomo.example.org'
#B2SHARE_WEBUI_MATOMO_SITEID='Site ID at your Matomo site, e.g. 3'
