Thanks for registering with B2Share. 

At the moment B2Share is still in an early stage of development and should be treated only as preview version for user testing. Files submitted to the service are not currently stored reliably and will be removed at some stage. At the moment all submissions are made public; there is currently no support for restricted access.

To complete the registration, please validate your email address by clicking the link below:{% endtrans %}

{{activation_link|safe}}

{% trans %}Please note that this URL will only remain valid for about {{days}} days. If this request was not made by you, please ignore this message.{% endtrans %}

