{% macro meta_field(f) %}
{% if f.type == 'HiddenField' %}
    <tr class="compact-form hidden">
        <td></td>
        <td></td>
        <td> {{f(**kwargs)|safe}} </td>
    </tr>
{% else %}

<tr title="{{f.description}}" rel='tooltip'>
  <div class="compact-form {% if f.errors %}error{% endif %}">

    <td class="meta-label-td"> {{f.label(class="meta-label")}} </td>

    <td class="meta-warning-td">
      {%- if f.flags.required -%}
      <span style="color: red;">*</span>
      {%else%}
      <span>&nbsp;</span>
      {%- endif %}
    </td>

    <td>{{f(**kwargs)|safe}}</td>

    <div class="controls">
      {%- if f.errors %}
        {%- for error in f.errors %}
          <p class="help-block">{{error}}</p>
        {%- endfor %}
      {%- endif %}
    </div>

  </div>
</tr>
{% endif %}
{% endmacro %}


{% macro deposit_fieldsets() %}
{% for s in metadata.fieldsets %}
  <fieldset>

    <legend>{{ s.name }} </legend>
    <table>
      {% for f in s.basic_fields %}
          {{ meta_field(getattr(form, f)) }}
      {% endfor %}
    </table>

  {% if s.optional_fields %}
    <button type="button" class="btn btn-b2scolor" style="width:300px; margin: 10px 0" data-toggle="collapse"
        data-target="#adv-fields-{{ s.name }}"> Add more details? </button>
    <div id="adv-fields-{{ s.name }}" class="collapse">
      <table>
        {% for f in s.optional_fields %}
          {{ meta_field(getattr(form, f)) }}
        {% endfor %}
      </table>
    </div>
  {% endif %}

  </fieldset>
{% endfor %}
{% endmacro %}

{% macro deposit_js_fixes() %}
<script type="text/javascript">
'use strict';
require(['jquery', 'bootstrap'], function ($) {
$(document).ready(function() {

    $('.switcher').bootstrapSwitch();

    $('.datepicker').datepicker({
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy',
        defaultDate: new Date()
    });

    // the bootstrap tooltips
    $("[rel='tooltip']").tooltip({
        placement: 'left',
    });

    $('select').change( function() {
        var value = $(this).val();
        if (value == "other" || $.inArray("other", value) > 0){
           $("#"+this.name+"_input").show();
           $("#"+this.name+"_input").focus();
        }
        else{
           $("#"+this.name+"_input").hide();
        }
    });

    // setup bootstrap multiselect
    $('select.multiselect').multiselect({
      maxHeight: 300,
    });
    // bootstrap-multiselect takes HTML select elements
    // builds a dropdown out of it and hides the original
    // but the new dropdown is not initialized properly automatically
    // so we have to do it manually here
    $('button.multiselect').dropdown();

    // control multiple fields of the same type
    // first input has a plus button, all the rest just minus buttons
    $('form .plus').click(function(){
        var container = $(this).closest('div.multi-fieldset');
        var cardinality = container.attr('data-cardinality') || 99;
        var input = $(this).closest('div').children('input');
        var name = input.attr('name');
        var placeholder = input.attr('placeholder');

        var row = '<div>';
        row += '<input class="add_field" type="text" name="'+name+'" placeholder="'+placeholder+'">';
        row += '<a class="minus btn btn-sm btn-default">'+
                  '<span class="glyphicon glyphicon-minus-sign"></span></a>';
        row += '</div>';
        container.append(row);
        var rowCount = container.children('div').length;
        if (cardinality >= rowCount) {
            container.find('.plus').css("visibility", "hidden");
        }
    });

    $('form').on('click', '.minus', function() {
        var container = $(this).closest('div.multi-fieldset');
        var cardinality = container.attr('data-cardinality') || 99;
        $(this).closest('div').remove();
        var rowCount = container.children('div').length;
        if (cardinality > rowCount){
            container.find('.plus').css("visibility", "visible");
        }
    });

    // setup typeahead
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches = [];
            var substrRegex = new RegExp(q, 'i');
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    matches.push({ value: str });
                }
            });
            cb(matches);
        };
    };
    $("#meta input[data-provide='typeahead']").each(function() {
        var qthis = $(this);
        var dataset = JSON.parse(qthis.attr('data-source'));
        qthis.typeahead('destroy');
        qthis.typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            source: substringMatcher(dataset)
        });
    });



    // dynamically add license selector button
    var licenseField = $('input#licence');
    var lbtn = $("<button class='btn btn-b2scolor btn-sm' style='margin-left:10px'>Select Licence</button>");
    lbtn.insertAfter(licenseField);
    // fix lodash, see also lodash-fix.js
    window._ = window.lodash;
    lbtn.licenseSelector({
      onLicenseSelected: function(license) {
        licenseField.val(license.name);
      }
    });

}); // end of $(document).ready
}); // end of require
</script>

{# if Linguistics domain, remove the duplicated resource_type input #}
{% if metadata.domain.lower() == 'linguistics' -%}
<script type="text/javascript">
'use strict';
require(['jquery'], function ($) {
  $(document).ready(function() {
    $('#resource_type').closest('tr').remove();
  });
});
</script>
{%- endif %}
{% endmacro %}

{{ form.csrf_token }}
{{ deposit_fieldsets() }}
{{ deposit_js_fixes() }}
