{% from "breadcrumbs.html" import render_breadcrumbs with context %}

{% extends "page.html" %}

{%- block global_bundles %}
    {% bundles "b2s_pre_almond_init.js" %}
    {{ super() }}
    {% bundles "b2s_deposit.css", "b2s_deposit.js" %}
{%- endblock %}

{% block breadcrumbs %}
    {{ render_breadcrumbs(False) }}
{% endblock breadcrumbs %}

{% block body%}

<div class="container">
<div class="row">
    <div class="description col-sm-4">
        <div style="margin: 100px 50px 0 50px">
            <p>You are logged in. Username: <strong><a href="/youraccount/display">{{ current_user.nickname }}</a></strong></p>
            <!--p>If you hover over the <strong>project-logos</strong> in step 02 we offer detailed description below.</p-->

            <div><img src="/img/bee-shadow.png"></img></div>

            <p class="hide">Please select a metadata description set which best fits to your data. The EUDAT Generic set
                includes a common set of elements which are inspired by Dublin Core, MARC and DataCite and
                this set is included in all sets as basis. So if you just want the common set select Generic,
                if you want in addition a specific community set select that community. Soon there will be
                more communities. You can always revise your decisions and select another set, however you may
                lose what you have already entered.</p>
        </div>
    </div>

    <div class="newdeposit col-sm-8">

        <div id="fileupload">
            <div id="filebox">
                <h2>
                    <p class="step-number">Step 01</p>
                    <p>Drag and drop files here</p>
                </h2>

                <div class="row" style="margin-left:0">
                    <div id="drag_and_drop_text" class="col-sm-8 well well-b2sblue" style="height: 78px"></div>
                    <div class="col-sm-4">
                        <a class="btn btn-b2sblue" id="pickfiles">Select local files</a>
                        <p> </p>
                        <a class="btn btn-b2sblue disabled" id="uploadfiles">Start upload</a>
                        <a class="btn btn-b2sblue" id="stopupload" style="display:none">Stop upload</a>
                    </div>
                </div>
            </div>

            <table id="file-table" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Status</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="filelist">
                </tbody>
            </table>

            <hr/>

            <div id="filebox-b2drop">
                <div class="row" style="margin-left:0; margin-bottom:20px">
                    <div class="col-sm-6">
                        <button class="btn btn-b2sblue" data-toggle="modal" data-target="#b2dropModal">Upload files from B2DROP</button>
                    </div>
                </div>
            </div>

            <table id="file-table-b2drop" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Status</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="filelist-b2drop">
                </tbody>
            </table>

            <div id="upload-errors"></div>

            {# these hidden inputs are used to transfer flask dynamic values to javascript -#}
            <input type="hidden" id="sub_id" name="sub_id" value="{{ sub_id }}"></input>
            <input type="hidden" id="url_prefix" name="url_prefix" value="{{ url_prefix }}"></input>
            <input type="hidden" id="url_for_upload" name="url_for_upload" value="{{ url_for('.upload', sub_id=sub_id) }}"></input>
            <input type="hidden" id="url_for_delete" name="url_for_delete" value="{{ url_for('.delete', sub_id=sub_id) }}"></input>
            <input type="hidden" id="url_for_get_file" name="url_for_get_file" value="{{ url_for('.get_file', sub_id=sub_id) }}"></input>
            <input type="hidden" id="url_for_getform" name="url_for_getform" value="{{ url_for('.getform', sub_id=sub_id, domain='') }}"></input>
            <input type="hidden" id="url_for_addmeta" name="url_for_addmeta" value="{{ url_for('.addmeta', sub_id=sub_id) }}"></input>
            <input type="hidden" id="url_for_b2drop_upload" name="url_for_b2drop_upload" value="{{ url_for('.b2drop_upload', sub_id=sub_id) }}"></input>
            <input type="hidden" id="filelist" name="filelist" value=""></input>

        </div>

        <div id="domains" class="hide">

            <h2 style="margin-top:30px">
                <p class="step-number">Step 02</p>
                <p>Select a domain or project</p>
            </h2>

            <form class="form form-horizontal meta-form" method="post" id="metaform_form">

                <div id="projects" class="row" style="margin-left:0;margin-right:0">
                    <div class="col-sm-12">
                        {% for d in domains %}
                        <div class="domain{% if d.domain == default_domain %} highlight-icon{% endif %}" title="{{ d.domaindesc if d.domaindesc != None }}" rel='tooltip'>
                            <input type="radio" class="visuallyhidden" name="domain" id="{{ d.domain }}" value="{{ d.domain }}"
                                {% if d.domain == default_domain %}checked="checked"{% endif %}/>
                            <label for="{{ d.domain }}">
                                {% if d.display_name %}
                                <h5 style="margin:0; height:40px">{{ d.display_name }}</h5>
                                {% else %}
                                <h5 style="margin:0; height:40px">{{ d.domain }}</h5>
                                {% endif %}
                                {% if d.image %}
                                <img src="/img/{{ d.image }}" class="desaturate domain-img"/>
                                {% else %}
                                &nbsp;<i class="{{ d.icon }} icon-large icon-2x"></i>
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="metaform" class="hide">
                    <h2 style="margin-top:30px">
                        <p class="step-number">Step 03</p>
                        <p>Add basic details</p>
                    </h2>
                    <input type="hidden" id="sub_id" name="sub_id" value="{{ sub_id }}"/>

                    <div id="meta">
                        <div id="meta-fields">Loading form...</div>
                        <div id="reqfootnote" class="footnote hide">* indicates required field</div>

                        <div id="submitbutton" class="hide">
                            <h2 style="margin-top:30px">
                                <p class="step-number">Step 04</p>
                                <p id="depositmsg" style="display:none; font-size: 16px">Please wait...</p>
                                <button id="deposit" name="action_save" class="btn btn-large btn-block disabled">Deposit</button>
                            </h2>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>
</div>

<div class="modal fade" id="b2dropModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select B2DROP files</h4>
            </div>
            <div class="modal-body">
                <div class="error" id="error"></div>
                <div class="login" id="login">
                <div class="well">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h4>Please log in to B2DROP</h4>
                    </div>
                    <form>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="input-group">
                            <input class="login-row" type="text" id="nickname" placeholder="Username or email">
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="input-group">
                            <input class="login-row" type="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-6">
                        <button id="b2drop-login" class="btn btn-primary" type="submit" style="width:100px">Log in</button>
                    </div>
                    </form>
                    </div>
                </div>
                </div>
                <div id="wait" style="display:none">
                    Please wait...
                </div>
                <div id="files" style="display:none">
                    <table class="table table-condensed table-hover">
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="b2drop-select" type="button" class="btn btn-primary">Select</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock body %}
