/* --- search row css --- */

.searchbar {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background-color: #F6F6F6;
    margin-bottom: 20px;
}

#search-label {
    font-size: 14px;
}

/* --- common --- */

div.alert {
  margin-bottom: 3px;
}

ul.breadcrumb {
    background: none;
    font-size: 12px;
    margin: 0;
    padding-left: 0;
}

legend [class*="icon-"] {
    vertical-align: baseline;
}

.login_link a {
    color: rgb(228, 108, 10);
    font-size: 20px;
    line-height: 30px;
}

.login_link ul li a {
    font-size: 14px;
    line-height: 20px;
}

/* --- home page --- */


.collection ul.nav-list {
    padding-left: 0;
}

.collection ul.nav-list ul.nav-list {
    font-size: 90%;
}

.collection ul ul li a {
    color: #333;
    opacity: 0.8;
}

.collection .badge {
    opacity:0.6;
    font-size:80%;
}

.collection ul ul .badge {
    color: #333;
    background-color: #EEE;
    border: 1px solid #999;
}

/* --- login --- */

.login {
    text-align:center;
}
.login .centered {
    display:inline-block;
    text-align:left;
}

.login h3 {
    line-height: 40px;
}

.login p {
    margin-left: 20px;
    font-size: 16px;
    line-height: 25px;
}
.login p a {
    color: #224A7B;
}

.login .title img {
    height: 150px;
    margin: -24px 0 -60px;
}

.login-message {
    font-size: 20px;
    margin: 50px 0 0 20px;
}

.login div.input-append {
    margin-bottom: 5px;
}


.login input[type='text'],
.login input[type='password'] {
    padding-left: 20px;
}

.login input[type='text'],
.login input[type='password'],
.login span.after-input {
    font-size: 20px;
    line-height: 30px;
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.login input[type='text'],
.login input[type='password'],
.login input[type='submit'] {
    border: 1px solid rgb(228, 108, 10);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}

.login input[type='text']:focus,
.login input[type='password']:focus,
.login input[type='submit']:focus {
  border-color: #E35E2B;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228, 108, 10, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228, 108, 10, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(228, 108, 10, 0.6);
}

.login span.after-input {
    width: 38px;
    color: white;
    background-color: rgb(228, 108, 10);
    border: 1px solid rgb(228, 108, 10);
}

.login input[type='checkbox'] {
}

.login label.checkbox {
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    height: 20px;
}


.login-row {
    width: 300px;
}

.login-bottomrow {
    width: 320px;
    margin:10px 0 0 20px;
    height: 50px;
}

.login input.login-btn {
    color: rgb(228, 108, 10);
    background-color: white;
    border: none;
    font-size: 22px;
    padding: 10px 20px;
}

/*.deposits {
    margin: 10px 20px 20px 10px;
}

.deposits .deposit-btn {
    color: white;
    background-color: rgb(227, 94, 43);
    font-size: 20px;
    font-weight: 500;
    border: none;
    width: 100%;
    text-align: left;
    padding: 8px 0 8px 25px;
    margin: 10px 0 20px 0;
}
.deposits .deposit-btn:hover {
    color: white;
}

.deposits .deposits-title {
    font-size: 16px;
    border-bottom: 2px solid rgb(175, 197, 211);
    padding-left: 25px;
    line-height: 40px;
    margin: 0;
}

.deposits .deposit {
    padding-left: 25px;
}

.deposit-list {
    margin: 0;
    overflow: hidden;
}

.deposit {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 2px solid rgb(175, 197, 211);
}

.deposit li {
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
}

li.deposit-date {
    font-weight: 600;
}
li.deposit-title {
    font-size: 16px;
    font-weight: 600;
}
*/

footer#footer {
    margin-top:30px;
    height: 94px;
}


/* Hack for correctly displaying the search bar */
/* see https://github.com/EUDAT-B2SHARE/b2share/issues/415 */

@media (min-width: 768px) {
    .searchbar #searchform-input-group.input-group > input.form-control {
        width: 480px;
    }
}
@media (min-width: 992px) {
    .searchbar #searchform-input-group.input-group > input.form-control {
        width: 657px;
    }
}
@media (min-width: 1200px) {
    .searchbar #searchform-input-group.input-group > input.form-control {
        width: 857px;
    }
}


///////////////////////////////////////////////////////////////////////////////
// BEGINNING OF B2SHARE DESIGN STYLE
///////////////////////////////////////////////////////////////////////////////

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(/fonts/Raleway.woff2) format('woff2'), url(/fonts/Raleway.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(/fonts/Raleway_medium.woff2) format('woff2'), url(/fonts/Raleway_medium.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(/fonts/Raleway_semibold.woff2) format('woff2'), url(/fonts/Raleway_semibold.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(/fonts/Raleway_bold.woff2) format('woff2'), url(/fonts/Raleway_bold.woff) format('woff');
}

/*** STRUCTURE LAYOUT ***/
html,body{height:100%;margin:0; color: #333;font-family: 'Raleway', sans-serif;}
#header-top {background: #F45D00;padding: 5px 0;}
#header-top a {color: #FFFFFF;}
#header {padding: 1% 0;background: #FFFFFF url("/img/img_header.png") no-repeat top right;}
#mainpage {height: auto;min-height: 600px;background: url("/img/bg_page.png") no-repeat left center; position: relative; padding-bottom: 94px;}
body.internalpage {background: #FFFFFF; padding: 0;}
body.internalpage>#page { background-image: none !important; padding: 20px 0;}
.description-home {margin-top: 70px;}
footer {background: #F7F3E9 url("/img/color-line.jpg") repeat-x top left;padding: 20px 10px 10px 10px;font-size: 12px;}

/*** GENERAL STYLE ELEMENTS ***/
h1 {font-weight: 600;}
a {color: #F45D00;text-decoration: none;}

/**** NAVBAR ***/
.navbar-default {background-color: transparent !important;border: 0 !important; /*margin-top: 30px;*/}
.navbar-default .navbar-nav > li > a {color: #333333;font-weight: 500;font-size: 16px;}
.navbar-default .navbar-nav > li > a:hover {color: #F45D00;font-weight: 500;font-size: 16px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0;}
.navbar-form {float: none !important;}
.navbar-footer {background-color: transparent !important;border: 0 !important;}
.navbar-footer ul li a {background-color: transparent !important;color: #666; }
.navbar-footer ul li a:hover {color: #333;}

#searchform-input-group {padding: 8px 0;}
#search-box-main .navbar {margin: 20px 0;}

/**** DEPOSIT AREA - HOME PAGE ****/
#deposit-area {background: #EEE; padding: 10px 20px; line-height: 65px;}
#deposit-area h1 {margin-top: 10px !important;}
.deposit {border-bottom: 0;list-style-type: none;padding: 5px 0;}
ol.deposit-list {-moz-column-count: 2;-moz-column-gap: 20px;-webkit-column-count: 2;-webkit-column-gap: 20px;column-count: 2;column-gap: 20px;}
.deposit li {font-size: 12px;line-height: 18px;list-style-type: none;}
li.deposit-date {font-weight: 600;color: #337AB7;}
li.deposit-title {font-size: 16px;font-weight: 600;}
li.deposit-title a {color: #000;}

/*** OLD CSS STYLE ***/
.right-not-rounded {border-bottom-right-radius: 0;border-top-right-radius: 0;}
.left-not-rounded {border-bottom-left-radius: 0;border-top-left-radius: 0;}
.no-padding {padding: 0;}
