{# would have been easier if wtf bs let me pass in css classes to horizontal_field #}
{{ form.csrf_token }}
{% macro meta_field(f) %}
<tr>
<div class="compact-form {% if f.errors %}error{% endif %}">


<td>
  {{f.label(class="control-label meta-label")}}
</td>

<td>
  {%- if f.flags.required -%}
    <span style="color: red;">*</span>{%else%}<span>&nbsp;&nbsp;</span>{%- endif %}
</td>
<td>
    <div title="{{f.description}}" rel='tooltip' placement='right' container='body'> {{f(**kwargs)|safe}}</div>
</td>
  
  <div class="controls">

    {%- if f.errors %}
      {%- for error in f.errors %}
        <p class="help-block">{{error}}</p>
      {%- endfor %}
    {%- endif %}

  </div>
</div>
</tr>
{% endmacro %}


{% macro hidden_field(f) %}
    <tr class="compact-form hidden">
        <td></td>
        <td></td>
        <td> {{f(**kwargs)|safe}} </td>
    </tr>
{% endmacro %}


{% for field in form %}
    {{ field.type }}
{% endfor %}

{% for s in metadata.fieldsets %}
<fieldset>
    <legend>{{ s.name }} </legend>

<table>
    {% for f in s.basic_fields %}
        {% if f.widget == 'HiddenInput' %}
            <b>hidden</b>
        {% else %}
            {{ meta_field(getattr(form, f)) }}
        {% endif %}
    {% endfor %}

    {% if s.optional_fields %}
      <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#adv-fields-{{ s.name }}">
                    Add more details?
      </button>
</table>
      <div id="adv-fields-{{ s.name }}" class="collapse">
<table>
        {% for f in s.optional_fields %}
          {{ meta_field(getattr(form, f)) }}
        {% endfor %}
      </div>
    {% endif %}
</table>
  </fieldset>
{% endfor %}
<script type="text/javascript">
  $('.switch')['bootstrapSwitch']();

  $('.datepicker').datepicker({
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      defaultDate: new Date()
    });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    var elements = $("[rel='tooltip']");
    // the jquery ui tooltips are used here, not bootstrap
    elements.tooltip({
      position: {
        my: "right center",
        at: 'left-220px center'
      }
    });
  });
</script>

<script type="text/javascript">
    $(function(){
    $('select').change( function() {
        var value = $(this).val();
        if (value == 'other'){
           $("#"+this.name+"_input").show();
           $("#"+this.name+"_input").focus();
        }
        else{
           $("#"+this.name+"_input").hide();
        }
    });
});
</script>

<script>
    $('#metaform_form').submit(function() {
        var select_list = this.getElementsByTagName('select')
        for(var i=0; i<select_list.length; i++) {
            var otherOption =  $(select_list[i]).val();
            if(otherOption == "other"){
                // replace select value with text field value
                otherOption.val($("#"+select_list[i]+"_input").val());
            }
        }
    });
</script>