{% extends "page.html" %}
{% block header %}
    {{ super() }}
    {% css 'css/simplestore-style.css', '50-simplestore' %}
    {% css 'css/font-awesome.min.css', '50-simplestore' %}
    {# need to link to CSS and simplestore-deposit.js I expect #}
{% endblock %}

{% block body%}

    <div class="container">

      <div class="row deposit">
        <h1>Deposit</h1>

        <div id="drop_zone">
   <!-- The file upload form used as target for the file upload widget -->
   <form id="fileupload" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript>JavaScript is required to upload files.</noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <h2>Use the button or drag and drop files to deposit</h2>
        <div class="span5 add-button">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-large fileinput-button add-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
            <!-- The global progress information -->
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table" id="sss-file-table"><tbody class="files"></tbody></table>
    </form>
        </div>
        <output id="list"></output>

      </div>
      <form method="post" action="{{ url_for('addmeta') }}" enctype="multipart/form-data">
        <input type="hidden" id="filelist" name="filelist" value=""></input>
        <div class="row" id="domains">


          <h1>Select a domain</h1>

        <!-- id/value, text, icon -->
  {% set domain_entries = [
    ('other', 'Other', 'icon-question-sign'),
    ('ecology', 'Ecology', 'icon-leaf'),
    ('chemistry', 'Chemistry', 'icon-beaker'),
    ('geography', 'Geography', 'icon-globe'),
    ('medicine', 'Medicine', 'icon-stethoscope'),
    ('compsci', 'Computer Science', 'icon-laptop'),
    ('economics', 'Economics', 'icon-money'),
    ('linguistics', 'Linguistics', 'icon-quote-right')
  ] -%}
  {% set default_domain = default_domain|default('other') -%}


  {% for id, text, icon in domain_entries %}
  <div class="domain {% if id == default_domain %} highlight-icon{% endif %}">
    <input type="radio" class="visuallyhidden" name="domain" id="{{ id }}" value="{{ id }}" 
    {% if id == default_domain %}checked="checked"{% endif %}/>
    <label for="{{ id }}">
      &nbsp;<i class="{{ icon }} icon-large icon-4x"></i>
      <h5>{{ text }}</h5>
    </label>
  </div>
  {% endfor %}


      <div class="dep-submit span9 pull-left">
        <button class="btn btn-primary btn-large" id="submit-deposit">Submit Deposit</button>
      </div>

      </div>
    </form>
  </div>

{% endblock %}
