
{# would have been easier if wtf bs let me pass in css classes to horizontal_field #}
{{ form.csrf_token }}
{% macro meta_field(f) %}
<div class="compact-form {% if f.errors %}error{% endif %}">

{%- if f.description -%}
    <div id="descbutton">
    <a class="description" href="#"><button type="button" class="btn btn-mini btn-info disabled" disabled>
    <i class="icon-info-sign"></i></button><span>{{f.description|safe}}</span></a></div>
  {%- endif %}


  {{f.label(class="control-label meta-label")}} {%- if f.flags.required -%}<span style="color: red;">&nbsp;*</span>{%else%}<span>&nbsp;&nbsp;</span>{%- endif %}
    {{f(**kwargs)|safe}}

  
  <div class="controls">

    {%- if f.errors %}
      {%- for error in f.errors %}
        <p class="help-block">{{error}}</p>
      {%- endfor %}
    {%- endif %}

  </div>
</div>
{% endmacro %}

{% for s in metadata.fieldsets %}
  <fieldset>
    <legend>{{ s.name }}</legend>

    {% for f in s.basic_fields %}
      {{ meta_field(getattr(form, f)) }}
    {% endfor %}

    {% if s.optional_fields %}
      <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#adv-fields-{{ s.name }}">
                    Add more details?
      </button>

      <div id="adv-fields-{{ s.name }}" class="collapse">

        {% for f in s.optional_fields %}
          {{ meta_field(getattr(form, f)) }}
        {% endfor %}
      </div>
    {% endif %}

  </fieldset>
{% endfor %}
<script type="text/javascript">
  $('.switch')['bootstrapSwitch']();

  $('.datepicker').datepicker({
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      defaultDate: new Date()
    });
</script>

</script>
