{% extends "page.html" %}
{% block header %}
    {{ super() }}
    {% css 'css/simplestore-style.css', '50-simplestore' %}
{% endblock %}

{% block body %}

    <div id = "page-header">
    <div class="container">
      <div class="deposit-result">
        <h1>Deposit Successful</h1>

        <div class="deposit-text">
          Your submission will shortly be available at: <br/>
            <a href="{{ url_for('record.metadata', recid=recid) }}">
              {{ url_for('record.metadata', recid=recid, _external=True) }}
            </a>
            <p/>
          <p>Please note that it may take a few minutes to process your submission.
        </div>
        </div>
        <div class="another-item">
          <a href="{{ url_for('.') }}">
            Deposit another item
          </a>
        </div>
        <!-- MARC output
        {{ marc }}
        -->

    </div>
    </div>
{% endblock %}
