{% extends "page.html" %}
{% block header %}
    {{ super() }}
    {% css 'css/simplestore-style.css', '50-simplestore' %}
    {% css 'css/font-awesome.min.css', '50-simplestore' %}
    {% js 'js/plupload/plupload.full.js', '50-webdeposit' %}
    <!-- Note there is also js at the bottom of the template. Sigh. -->
    {% js 'js/simplestore-deposit.js', '50-simplestore' %}
{% endblock %}

{% block body%}

    <div class="container">

      <div class="row deposit">

        <div class="pluploader" id="fileupload">
          <div class="well" id="filebox">
            <h1><span class="step-number">1.</span> Deposit</h1>
            <div id="drag_and_drop_text" style="text-align:center;z-index:-100;">
              <h1><small>Drag and drop files here</small></h1>
            </div>
          </div>
          <!-- Tables? Really? -->
          <table id="file-table" class="table table-striped table-bordered" style="display:none;">
            <thead>
              <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Status</th>
                <td></td>
              </tr>
            </thead>
            <tbody id="filelist">
            </tbody>
          </table>
          <a class="btn btn-primary" id="pickfiles" >Select files</a> 
          <a class="btn btn-success disabled" id="uploadfiles"><i class="icon-upload icon-white"></i> Start upload</a>
          <a class="btn btn-danger" id="stopupload" style="display:none;"><i class="icon-stop icon-white"></i> Stop upload</a>
          <div id="upload-errors"></div>
        </div>

      </div>
      <form method="post" action="{{ url_for('.deposit') }}" enctype="multipart/form-data">
        <input type="hidden" id="sub_id" name="sub_id" value="{{ sub_id }}"></input> 
        <input type="hidden" id="filelist" name="filelist" value=""></input>
        <div id="domains">


          <div class="row-fluid">
            <div class="span12">
             <h1><span class="step-number">2.</span> Select a domain</h1>
           </div>
          </div>

        <!-- id/value, text, icon -->
  {% set domain_entries = [
    ('generic', 'Generic', 'icon-question-sign', 'domain'),
    ('linguistics', 'Linguistics', 'icon-quote-right', 'domain'),
    ('ecology', 'Ecology', 'icon-leaf', 'domain'),
    ('hydrometeorology', 'Hydro-Meteorology', 'icon-cloud', 'domain'),
    ('chemistry', 'Chemistry', 'icon-beaker', 'domain-disabled'),
    ('geography', 'Geography', 'icon-globe', 'domain-disabled'),
    ('medicine', 'Medicine', 'icon-stethoscope', 'domain-disabled'),
    ('compsci', 'Computer Science', 'icon-laptop', 'domain-disabled'),
    ('economics', 'Economics', 'icon-money', 'domain-disabled')
  ] -%}
  {% set default_domain = default_domain|default('generic') -%}


        <div class="row-fluid">
          <div class="span10">
            {% for id, text, icon, class in domain_entries %}
            <div class="{{ class }}{% if id == default_domain %} highlight-icon{% endif %}">
              <input type="radio" class="visuallyhidden" name="domain" id="{{ id }}" value="{{ id }}" 
              {% if id == default_domain %}checked="checked"{% endif %}/>
              <label for="{{ id }}">
                &nbsp;<i class="{{ icon }} icon-large icon-4x"></i>
                <h5>{{ text }}</h5>
              </label>
            </div>
            {% endfor %}
          </div>


          <div class="span2 dep-submit">
            <button class="btn btn-large disabled" id="submit-deposit">&gt;&gt;&nbsp;Submit</button>
          </div>

        </div>
      </div>
    </form>
  </div>

{% endblock %}

{% block javascript %}
{{ super() }}

<script type="text/javascript">

$(document).ready(function() {

  simplestore_init_plupload('.pluploader',
                            '{{ url_for('.upload', sub_id=sub_id) }}',
                            '{{ url_for('.delete', sub_id=sub_id) }}',
                            '{{ url_for('.get_file', sub_id=sub_id) }}');

  });
</script>
{% endblock %}
