{%extends "page.html" %}
{% set active_page = "sshome" %}
     {%block body %}
     <div class="page header">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to the Super Simple Store!</h1>
        <p/>
        <p>Here you can submit documents and files to be archived and will recieve
        a unique identifier that unambiguously identifies them. 
        </p>
        <p>The site also supports associating metadata with uploaded content
        which can be used to support advanced indexing and searching.</p>
        <br/>
        <p><a class="btn btn-primary btn-large" href="deposit">Deposit something &raquo;</a></p>
      </div>
    </div>
{% endblock %}
