{% extends "page.html" %}
{% block header %}
    {{ super() }}
    {% css 'css/simplestore-style.css', '50-simplestore' %}
    {% css 'css/font-awesome.min.css', '50-simplestore' %}
    {% js 'js/simplestore-addmeta.js', '50-simplestore' %}
{% endblock %}
{% block body %}

    <div class="container">
      <div class="meta-container row">
        <h1>Your Deposit</h1>

        <form class="form form-horizontal meta-form" method="post" action="{{ url_for('.addmeta', sub_id=sub_id) }}">
          <input type="hidden" id="sub_id" name="sub_id" value="{{ sub_id }}"/>
          <input type="hidden" id="filelist" name="files" value="{{ fileret|tojson }}"/>
          {{ form.csrf_token }}

          <div class="span10 metacontent" id="filetable">
            <label class="control-label meta-label" for="fileinputs">Files</label>
          </div>

          <div class="span10 metacontent">
            <label class="control-label meta-label" id="domain-label" for="domain">Domain</label>
            <div class="domain-addmeta">
              {%- if domain == "Linguistics" -%}
              <input type="text" class="visuallyhidden" name="domain" id="domain" value="Linguistics" />
              <label for="linguistics">
                &nbsp;<i class="icon-quote-right icon-large icon-4x"></i>
                <h5>Linguistics</h5>
              </label>
              {%- else -%}
              <input type="text" class="visuallyhidden" name="domain" id="domain" value="Generic" />
              <label for="generic">
                &nbsp;<i class="icon-question-sign icon-large icon-4x"></i>
                <h5>Generic</h5>
              </label>  
              {%- endif -%}
            </div>
            <!--<input id="domain" name="domain" type="text" value="{{ domain }}" readonly class="first-cap"></input>-->
          </div>


          <div id="meta" class="span10">
            <h2>Add some basic details</h2>

            <div id="meta-fields">


              {# would have been easier if wtf bs let me pass in css classes to horizontal_field #}
              {%- macro meta_field(f) %}
              <div class="control-group {% if f.errors %}error{% endif %}">
                {{f.label(class="control-label meta-label")}}
                <div class="controls">
                  {{f(**kwargs)|safe}}

                  {%- if f.errors %}
                  {%- for error in f.errors %}
                  <p class="help-block">{{error}}</p>
                  {%- endfor %}
                  {%- elif f.description -%}
                  <p class="help-block">{{f.description|safe}}</p>
                  {%- endif %}
                </div>
              </div>
              {% endmacro %}

              {% for f in basic_field_iter() %}
                {{ meta_field(getattr(form, f)) }}
              {% endfor %}

              <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#adv-fields">
                Add more details…
              </button>
 
              <div id="adv-fields" class="collapse"> 

              {% for f in opt_field_iter() %}
                {{ meta_field(getattr(form, f)) }}
              {% endfor %}
              </div>

              <div class="form-actions">
                <button name="action_save" type="submit" class="btn btn-large btn-primary">I'm Done -<br>Submit the Item</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
