{% extends "page.html" %}

{% block body %}

    <div id = "page-header">
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Deposit Accepted</h1>
        <p/>
        <p>Once processed, your submission will be available at
        <a href="{{ url_for('record.metadata', recid=recid) }}">
          {{ url_for('record.metadata', recid=recid, _external=True) }}
        </a>
        <!-- MARC output
        {{ marc }}
        -->
      </div>

    </div>
    </div>
{% endblock %}
