{% extends "page.html" %}
{% block header %}
    {{ super() }}
    {% css 'css/simplestore-style.css', '50-simplestore' %}
    {% css 'css/font-awesome.min.css', '50-simplestore' %}
    {% js 'js/plupload/plupload.full.js', '50-webdeposit' %}
    <!-- Note there is also js at the bottom of the template. Sigh. -->
    {% js 'js/simplestore-deposit.js', '50-simplestore' %}
{% endblock %}

{% block body%}

    <div class="container">

      <div class="row deposit">

        <div class="pluploader" id="fileupload">
          <div class="well" id="filebox">
            <h1><span class="step-number">1.</span> Deposit</h1>
            <div id="drag_and_drop_text" style="text-align:center;z-index:-100;">
              <h1><small>Drag and drop files here</small></h1>
            </div>
          </div>
          <!-- Tables? Really? -->
          <table id="file-table" class="table table-striped table-bordered" style="display:none;">
            <thead>
              <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Status</th>
                <td></td>
              </tr>
            </thead>
            <tbody id="filelist">
            </tbody>
          </table>
          <a class="btn btn-primary" id="pickfiles" >Select files</a> 
          <a class="btn btn-success disabled" id="uploadfiles"><i class="icon-upload icon-white"></i> Start upload</a>
          <a class="btn btn-danger" id="stopupload" style="display:none;"><i class="icon-stop icon-white"></i> Stop upload</a>
          <div id="upload-errors"></div>
        </div>

      </div>
      <form method="post" action="{{ url_for('.deposit') }}" enctype="multipart/form-data">
        <input type="hidden" id="sub_id" name="sub_id" value="{{ sub_id }}"></input> 
        <input type="hidden" id="filelist" name="filelist" value=""></input>
        <div id="domains">


          <div class="row-fluid">
            <div class="span12">
             <h1><span class="step-number">2.</span> Select a domain or project</h1>
           </div>
          </div>

        {% set default_domain = default_domain|default('Generic') -%} 

        <div class="row-fluid">
          <div class="span10">

            <div class="row-fluid">
            <div class="span12">
              {% for d in domains if d.kind == 'domain' %}
              <div class="domain{% if d.domain == default_domain %} highlight-icon{% endif %}">
                <input type="radio" class="visuallyhidden" name="domain" id="{{ d.domain }}" value="{{ d.domain }}" 
                {% if d.domain == default_domain %}checked="checked"{% endif %}/>
                <label for="{{ d.domain }}">
                  {% if d.image %}
                    <img src="/img/{{ d.image }}" class="desaturate"/>
                  {% else %}
                    &nbsp;<i class="{{ d.icon }} icon-large icon-4x"></i>
                  {% endif %}
                  {% if d.display_name %}
                    <h5>{{ d.display_name }}</h5>
                  {% else %}
                    <h5>{{ d.domain }}</h5>
                  {% endif %}
                </label>
              </div>
              {% endfor %}

              <!-- Add temporary demo domains by hand. To be deleted. -->
              <div class="domain-disabled">
                <input type="radio" class="visuallyhidden" name="domain" id="Geography" value="Geography"/>
                <label for="Linguistics">
                  &nbsp;<i class="icon-globe icon-large icon-4x"></i>
                  <h5>Geography</h5>
                </label>
              </div>
              <div class="domain-disabled">
                <input type="radio" class="visuallyhidden" name="domain" id="Medicine" value="Medicine"/>
                <label for="Medicine">
                  &nbsp;<i class="icon-stethoscope icon-large icon-4x"></i>
                  <h5>Medicine</h5>
                </label>
              </div>
              <div class="domain-disabled">
                <input type="radio" class="visuallyhidden" name="domain" id="compsci" value="compsci"/>
                <label for="compsci">
                  &nbsp;<i class="icon-laptop icon-large icon-4x"></i>
                  <h5>Computer Science</h5>
                </label>
              </div>
            </div>
            </div>

            <div class="row-fluid">
            <div class="span12">
              {% for d in domains if d.kind == 'project' %}
              <div class="domain{% if d.domain == default_domain %} highlight-icon{% endif %}">
                <input type="radio" class="visuallyhidden" name="domain" id="{{ d.domain }}" value="{{ d.domain }}" 
                {% if d.domain == default_domain %}checked="checked"{% endif %}/>
                <label for="{{ d.domain }}">
                  {% if d.image %}
                    <img src="/img/{{ d.image }}" class="desaturate"/>
                  {% else %}
                    &nbsp;<i class="{{ d.icon }} icon-large icon-4x"></i>
                  {% endif %}
                  {% if d.display_name %}
                    <h5>{{ d.display_name }}</h5>
                  {% else %}
                    <h5>{{ d.domain }}</h5>
                  {% endif %}
                </label>
              </div>
              {% endfor %}
            </div>
            </div>
          </div>

          <div class="span2 dep-submit">
            <button class="btn btn-large disabled" id="submit-deposit">&gt;&gt;&nbsp;Add Metadata</button>
          </div>
        </div>

      </div>
    </form>
  </div>

{% endblock %}

{% block javascript %}
{{ super() }}

<script type="text/javascript">

$(document).ready(function() {

  simplestore_init_plupload('.pluploader',
                            '{{ url_for('.upload', sub_id=sub_id) }}',
                            '{{ url_for('.delete', sub_id=sub_id) }}',
                            '{{ url_for('.get_file', sub_id=sub_id) }}');

  });
</script>
{% endblock %}
