{# would have been easier if wtf bs let me pass in css classes to horizontal_field #}
{{ form.csrf_token }}

{% macro meta_field(f) %}
{% if f.type == 'HiddenField' %}
    <tr class="compact-form hidden">
        <td></td>
        <td></td>
        <td> {{f(**kwargs)|safe}} </td>
    </tr>
{% else %}

<tr>
<div class="compact-form {% if f.errors %}error{% endif %}">


<td>
  {{f.label(class="control-label meta-label")}}
</td>

<td>
  {%- if f.flags.required -%}
    <span style="color: red;">*</span>{%else%}<span>&nbsp;&nbsp;</span>{%- endif %}
</td>
<td>
    <div title="{{f.description}}" rel='tooltip' placement='right' container='body'> {{f(**kwargs)|safe}}</div>
</td>
  
  <div class="controls">

    {%- if f.errors %}
      {%- for error in f.errors %}
        <p class="help-block">{{error}}</p>
      {%- endfor %}
    {%- endif %}

  </div>
</div>
</tr>
{% endif %}
{% endmacro %}


{% for s in metadata.fieldsets %}
<fieldset>
    <legend>{{ s.name }} </legend>

<table>
    {% for f in s.basic_fields %}
        {{ meta_field(getattr(form, f)) }}
    {% endfor %}

    {% if s.optional_fields %}
      <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#adv-fields-{{ s.name }}">
                    Add more details?
      </button>
</table>
      <div id="adv-fields-{{ s.name }}" class="collapse">
<table>
        {% for f in s.optional_fields %}
          {{ meta_field(getattr(form, f)) }}
        {% endfor %}
      </div>
    {% endif %}
</table>
  </fieldset>
{% endfor %}
<script type="text/javascript">
  $('.switch')['bootstrapSwitch']();

  $('.datepicker').datepicker({
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      defaultDate: new Date()
    });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    var elements = $("[rel='tooltip']");
    // the jquery ui tooltips are used here, not bootstrap
    elements.tooltip({
      position: {
        my: "right bottom",
        at: 'left-220px top'
      }
    });
  });
</script>

<script type="text/javascript">
    $(function(){
    $('select').change( function() {
        var value = $(this).val();
        if (value == 'other'){
           $("#"+this.name+"_input").show();
           $("#"+this.name+"_input").focus();
        }
        else{
           $("#"+this.name+"_input").hide();
        }
    });
});
</script>

<script type="text/javascript">
 var rowNum = 0;

 $('form .plus').click(function(){
      rowNum ++;
      var name = $(this).attr('name');
      var placeholder = $(this).attr('data-placeholder');
      var cardinality = $(this).attr('data-cardinality');
        
      var row = '<div id="rowNum'+rowNum+'">'
      row += '<input class="add_field" id="inputRowNum'+rowNum+'" type="text" name="'+name+'" placeholder="'+placeholder+'">';
      row += '<div class="minus" data-name="'+name+'" data-cardinality="'+cardinality+'" data-row="'+rowNum+'"></div>';
      row += '</div>';
      $('#'+name+"_div").append(row);
        
      var rowCount = $('#'+name+"_div > div").length;
      if (cardinality <= rowCount){
          $("#"+name+"_add").css("visibility", "hidden");
      }
 });
 
 $('form').on('click', '.minus', function() {
     var row = $(this).attr('data-row');
     var name = $(this).attr('data-name');
     var cardinality = $(this).attr('data-cardinality');     

     $('#rowNum'+row).remove();

     var rowCount = $('#'+name+"_div > div").length;
     if (cardinality > rowCount){
         $("#"+name+"_add").css("visibility", "visible");
     } 
 });
 
</script>
