{% extends "page.html" %}
{% block header %}
    {{ super() }}
    <meta http-equiv="refresh" content="10">
{% endblock %}

{% block body %}

    <div id = "page-header">
    <div class="container">
      <div class="deposit-result">
        <h1>New Record</h1>

        <div class="deposit-text">
          This record is being processed and will be available shortly. Please wait.
        </div>
        </div>
        <div class="another-item">
          <a href="{{ url_for('b2deposit') }}">
            <button class="btn btn-primary btn-large">Deposit another item</button>
          </a>
        </div>
    </div>
    </div>

{% endblock %}
