/*** GENERAL SETTINGS ***/

html, body {
  height:100%;
  margin:0;
  color: #333;
}

html {
  overflow-x: hidden;
}
body {
  background: white url('/img/bg-page.jpg') no-repeat center 200px;
}

#header {
  padding: 0 0;
  background: #FFFFFF url("/img/img_header.png") no-repeat top right;
}

footer {
  /*background: #F7F3E9 url('/img/footer.png') no-repeat right bottom;*/
  background: #F7F3E9 url("/img/color-line.jpg") repeat-x top left;
  padding: 20px 10px 0px 10px;
  font-size: 12px;
}

a {
  outline: none!important;
  color: #F45D00;
  text-decoration: none!important;
}
a:hover {
  text-decoration: none!important;
}

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

input, select, textarea {
  -webkit-transition: all 0.30s ease-out;
  -moz-transition: all 0.30s ease-out;
  -ms-transition: all 0.30s ease-out;
  -o-transition: all 0.30s ease-out;
  outline: none;
  border: 1px solid #ccc;
}
input:focus, select:focus, textarea:focus, button:focus, a:focus {
  box-shadow: 0 0 10px #F45D00 !important;
  outline: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ff5400;
  /*background-color: #FBA929;*/
}

a.navbar-brand {
  box-shadow: 0 0 0 !important;
}
.nav-search {
  display: table;
  padding: 20px;
}
@media (min-width: 768px) {
  .nav-search {
    margin-right: 220px;
  }
}

.navbar-nav {
  margin-top: 0.5em;
}
.navbar-nav.user {
  padding-right: 2em;
}

@media (min-width: 1024px) {
  .navbar-nav.user {
    float:right;
    margin-right: 220px;
  }
}
@media (min-width: 768px) {
  .navbar-nav.user {
    float:right;
  }
}

.well .divider {
  height: 10px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  clear: both;
}

.unselectable {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-primary {
  color: #E5601E;
}

.open .color-primary{
  color: white;
}


.epic_pid {
  font-size:14px;
  color: #c73118;
  overflow: auto;
  white-space: nowrap;
}

.checksum {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  overflow: auto;
  color: #888;
  white-space: nowrap;
}


/*****************************************************************************/
/*** error ***/

.errorDiv {
  position: relative;
  height: 10px;
  text-align: center;
}

.errorRow {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.errorRow div * {
  color: #fff;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  background-color: hsla(10, 100%, 50%, 0.75);
}

.errorRow .errorMessage {
  margin: 2px 0;
}

.user-notifications {
  font-size: small;
}

.user-notifications h4 {
  font-size: small;
}

/*** transitions css ***/

/*.fade-enter {
  opacity: 0.01;
  transition: all .1s linear;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}
.fade-leave {
  opacity: 1;
  transition: all .1s linear;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
}


.error-enter {
  opacity: 0.01;
  transition: all .1s linear;
}
.error-enter.error-enter-active {
  opacity: 1;
}
.error-leave {
  opacity: 1;
  transition: all .1s linear;
}
.error-leave.error-leave-active {
  opacity: 0.01;
}
*/

/* route */

.route-appear {
  opacity: 0.01;
  transition: opacity .1s;
}

.route-appear.route-appear-active {
  opacity: 1;
}


.route-enter {
  opacity: 0.01;
  transition: opacity .1s;
}

.route-enter.route-enter-active {
  opacity: 1;
}

.route-leave {
  opacity: 1;
  transition: opacity .1s;
}

.route-leave.route-leave-active {
  opacity: 0.01;
}


/* list */

.list-appear {
  opacity: 0.01;
  transition: opacity 1s;
}

.list-appear.list-appear-active {
  opacity: 1;
}


.list-enter {
  opacity: 0.01;
  transition: opacity 1s;
}

.list-enter.list-enter-active {
  opacity: 1;
}

.list-leave {
  opacity: 1;
  transition: opacity 1s;
}

.list-leave.list-leave-active {
  opacity: 0.01;
}


/*****************************************************************************/
/*** navbar ***/

.eudat-topmost-line, .eudat-topmost-line * {
  background-color: #E5601E;
  color: white;
  font-size: 13px;
}
.eudat-topmost-line *:hover {
  color: orange;
}

.navbar-default {
  margin-bottom: 0;
  background: white url('/img/header.png') no-repeat right top;
}

.header-nav .navbar-header {
  min-height: 120px;
}
.header-nav .in .navbar-nav {
  margin-top: 5px;
}
.header-nav .collapsing .navbar-nav {
  margin-top: 5px;
}

.navbar.navbar-default li > a.active,
.navbar.navbar-default li > a.active:hover,
.navbar.navbar-default li > a.active:focus {
    background-color: #E5601E;
    color: white;
}


/* collapse search placement */
.header-nav .in .nav-search{
  margin: 10px 0px 0px 0px;
  padding: 0;
}
.header-nav .collapsing .nav-search {
  margin: 10px 0px 0px 0px;
  padding: 0;
}


/* collapse search placement */
.header-nav .in .nav-search{
  margin: 10px 0px 0px 0px;
  padding: 0;
}
.header-nav .collapsing .nav-search {
  margin: 10px 0px 0px 0px;
  padding: 0;
}

#alerts-container {
  position: absolute;
  top: 10px;
  right:50px;
  z-index: 9999;
  max-width: 300px;
  float: right;
}

#alerts-container .message {
  margin: 2px;
}

#alerts-container .message strong {
  font-style: italic;
}

.breadcrumb {
  background-color: #fff;
  font-size: 12px;
}
.breadcrumb > li + li:before {
    content: "»";
}


/*****************************************************************************/
/* dashboard last records*/

.form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.form-group-lg button {
    height: 46px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.records a:hover .name {
  text-decoration: underline;
}

.record:hover {
  border: 1px solid #eee;
  box-shadow: 0 0 4px #eee !important;
  background-color: white;
}

.record {
  padding: 5px;
  word-break: break-word;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 4px white !important;
  background-color: white;
}

.record p {
  padding: 0;
  margin: 0;
}

.record .date{
  color: #228;
}

.record .name {
  font-weight: 900;
}

.record .description {
  color: #333;
}

.pagination .info {
  font-size: 0.8em;
}

/*****************************************************************************/
/* communities */

.community-small {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 0 10px #eee !important;
  color: black;
  display: block;
  font-weight: bold;
  height: 8em;
  max-width: 10em;
  overflow: hidden;
  padding: 10px 4px;
  text-align: center;
  margin-bottom: 15px;
}

.community-small:hover {
  border: 1px solid gray;
  box-shadow: 0 0 10px gray !important;
}

.community-small.active {
  color: #F45D00;
  border: 1px solid #F45D00;
  box-shadow: 0 0 10px #F45D00 !important;
}

.community-small.passive {
  border: 1px solid #eee;
  box-shadow: 0 0 10px #eee !important;
}

.community-small img.logo {
  max-width: 96px;
  max-height: 64px;
}

.community-small.inactive img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;
}


.community-page {
  background-color: white;
  padding-bottom:1em;
}


.community-list-page .community {
  padding: 5px 20px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  height: 16em;
}

.community-list-page .community.link {
  text-align: center;
  background-color: white;
  border: 1px solid #eee;
}

.community-list-page .community.link:hover {
  border: 1px solid #F45D00;
  box-shadow: 0 0 10px #F45D00 !important;
}

.community-list-page .community img.logo {
  max-width: 128px;
  max-height: 64px;
}

.community-list-page .community .domain,
.community-list-page .community .description {
  margin: 1em 0;
  color: #333;
}

/*****************************************************************************/
/* help and about pages */

.legal-notice img {
  float: left;
  padding: 5px;
}

.footer-version {
  text-align: right;
  color: gray;
  margin-right: 20px;
  font-size: 0.7em;
}

.help-page .list-group-item.active a {
  color: white;
}
.help-page .list-group-item.active,
.help-page .list-group-item.active:hover,
.help-page .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #E5601E;
  border-color: #E5601E;
}

.rest_api code {
  white-space: normal;
}

/*****************************************************************************/
/* records */

.large-record {
  background-color: white;
  padding-bottom:1em;
}

.edit-record {
  background-color: white;
  padding-bottom:1em;
}

.new-record {
  margin-top: 2em;
}

.new-record .submit {
  margin-top: 2em;
}

/*****************************************************************************/
/* upload form */

.dropzone {
  background-color: white;
  border: 3px dashed #888;
  border-radius: 16px;
  height: 10em;
  width:100%;
}
.dropzone:hover, .dropzone.active {
  border: 3px dashed #F45D00;
  box-shadow: 0 0 16px #F45D00 !important;
}

.b2droppanel {
  background-color: white;
  color: #222;
  overflow:hidden;
  width:100%;
  box-shadow: 0 0 30px #000 !important;
}

.b2dropzone {
  background-color: white;
  border: 3px solid #888;
  color: #888;
  border-radius: 8px;
  overflow:hidden;
  text-align:center;
  padding:0.5em;
  width:100%;
}

.b2dropbutton {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;

  background-color: white;
  border: 3px solid #888;
  color: #888;
  height: 4em;
  border-radius: 8px;
  overflow:hidden;
  text-align:center;
  padding:0.5em;
  width:100%;
}
.b2dropbutton > img {
  display:inline;
  max-width: 20%;
  width: 50px;
  padding-bottom:1em;
}
.b2dropbutton > h3 {
  display:inline;
  padding-left:1em;
}
.b2dropbutton:hover, .b2dropbutton:focus {
  background-color: #0F4094;
  border: 3px solid #0F4094;
  box-shadow: 0 0 4px #F45D00 !important;
  color: white;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.fileList {
  /*background-color: white;*/
}

.fileList .fileHeader {
  margin: 0.5em 0px;
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}
.fileList .fileHeader *{
  font-weight: bold;
}
.fileList .file {
  padding: 0.5em 0;
  word-wrap: break-word;
}
.fileList .file .details{
  overflow-x: auto;
}
.fileList .file:nth-child(odd) {
  background-color: #f4f4f4;
}
.fileList .file:nth-child(even) {
  background-color: #fafafa;
}
.fileList .file:hover {
  background-color: #fff;
}

.fileList .file .details * {
  margin-top: 0.25em;
}

.fileList .file .btn.remove {
  float: right;
  color: #F45D00;
  border: none;
  background-color: transparent;
}
.fileList .file .btn.remove:hover {
  color: red;
}

@media (min-width: 768px) {
  .file dt {
    width:8em;
  }
  .file dd {
      margin-left: 9em;
  }
}


.file .dl-horizontal {
  margin-bottom: 0;
}
.file dd {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
}


.drop-box {
  border: 1px solid #bbb;
  text-align: center;
}
.drop-box.dragover {
  border: 2px solid gray;
  text-align: center;
}

.upload-preview .img-empty{
  width: 100%;
  padding: 10px;
  text-align:center;
}

/*** file uploads ***/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}


/*****************************************************************************/
/* styling of user profile page */

.access-token {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  color: red;
}


/*****************************************************************************/
/* styling of react-widgets */

.rw-multiselect-taglist > li {
  background-color: white;
}
.rw-multiselect-taglist > input.rw-input {
  box-shadow: 0 0 0 transparent !important;
  outline: none !important;
}

.rw-widget>.rw-select {
  background-color: white;
}
.rw-widget.rw-state-focus,.rw-widget.rw-state-focus:hover{
  border-color:#F45D00;
}
ul.rw-list>li.rw-list-option.rw-state-focus,.rw-selectlist>li.rw-list-option.rw-state-focus {
  border-color:#F45D00;
}
.rw-multiselect-taglist .rw-tag-btn {
  padding:5px;
  color:#F45D00;
}